examples/workflow-example.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "123",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getPdf",
        "apiToken": "your-cloudbrowser-api-token",
        "url": "https://n8n.io",
        "navigationOptions": {
          "waitUntil": "networkidle0",
          "timeout": 60000
        },
        "browserConfig": {
          "headless": true,
          "stealth": true
        },
        "pdfOptions": {
          "format": "A4",
          "landscape": true,
          "printBackground": true,
          "margin": {
            "top": 10,
            "right": 10,
            "bottom": 10,
            "left": 10
          }
        }
      },
      "id": "124",
      "name": "CloudBrowser",
      "type": "n8n-nodes-cloudbrowser.cloudBrowser",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "writeBinaryFile",
        "fileName": "={{$json[\"filename\"]}}",
        "options": {}
      },
      "id": "125",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.filesWrite",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "CloudBrowser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CloudBrowser": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 