examples/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "12345678-1234-1234-1234-123456789012",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "content",
        "operation": "getScreenshot",
        "url": "https://n8n.io",
        "navigationOptions": {
          "waitUntil": "networkidle0",
          "timeout": 60000
        },
        "browserConfig": {
          "headless": true,
          "stealth": true
        },
        "screenshotOptions": {
          "fullPage": true,
          "type": "png"
        }
      },
      "id": "12345678-1234-1234-1234-123456789013",
      "name": "CloudBrowser",
      "type": "n8n-nodes-cloudbrowser.cloudBrowser",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "cloudBrowserApi": {
          "id": "1",
          "name": "CloudBrowser account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "screenshotBinary",
        "fileName": "=screenshot.{{$json.fileExtension}}",
        "options": {}
      },
      "id": "12345678-1234-1234-1234-123456789014",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "CloudBrowser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CloudBrowser": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 